#mike{
  background-color:  #55C89A;
  margin-left: -60px;
  margin-right: -60px;
  margin-top: -50px;
  margin-bottom: 50px;
  text-align: center;
}
#komo{
  background-color:#86D2E1 ;
  margin-left: -45px;
  margin-top: -40px;
  padding-bottom: 110px;
}
#cup{
  background-color:#2D8CDD;
}
#cup:hover{
  color: red;
}
#lap{
  margin-bottom: 50px;
}
#top{
  padding-bottom: 500px;
}
#pen{
  color: red;
}
#mik{
  margin-left: 100px;
  margin-right: 100px;
}
